header {background-color: rgb(169,169,169)}
section {background-color: rgb(128,128,128)}
h1 {color: rgb(255,255,255);text-align: center; text-transform: uppercase}
h2 {color: rgb(0,0,139);text-transform: uppercase}
a {background-color:rgb(192,192,192); color:rgb(0,0,0)}